* {
   margin: 0;
   padding: 0;
}

html, body {
   margin: 0;
   padding: 0;
   color: black;
   font-family: "Roboto", sans-serif;
   font-weight: 100;
   font-style: normal;
   background-color: aliceblue;
   overflow-y: scroll;
   scrollbar-width: none;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

header {
   margin-top: 0;
   padding-top: 0;
   top: 0;
   text-align: center;
   width: 100%;
   z-index: 88;
   font-size: large;
}

main {
   background-color: aliceblue;
}

.Home {
   text-align: center;
   background-color: rgb(0, 183, 255);
}

#TextMainHome {
   text-align: center;
   display: flex;
   justify-content: center;
   font-size: x-large;
}

#textDestaque1{
   float:inline-start;
   text-align: center;
   margin-right: 3px;
}

#textDestaque2{
   color: rgb(127, 255, 155);
   text-align: start;
}

#textAbout {
   display: none;
}

#buttonAbout {
   display: flex;
   cursor: pointer;
   color: inherit;
   font: inherit;
   float: inline-end;
   padding: 3px;
   background-color: aliceblue;
   outline: none;
   border-color: #1c3f60;
   margin: 1px;
}

#serviceTitle{
   font-size: x-large;
}

.carousel-item img {
   max-width: 200px;
   max-height: 300px;
}

#message {
   width: 300px;
}

#formsBaixo{
   margin-top: 5px;
}

footer {
   display: flex;
   background-color: #275885;
   bottom: 0;
   width: 100%;
   padding-top: 8px;
   align-content: end;
   text-align: center;
}

footer p {
   margin-top: 8px;
}

#github{
   float: inline-start;
   padding-left: 18%;
   color: aquamarine;
}

#linkedin {
   float: inline-end;
   padding-right: 18%;
   color: aquamarine;
}

